aiodns==2.0.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aredis==1.1.8
async-timeout==3.0.1
attrs==20.3.0
cchardet==2.1.7
cffi==1.14.5
chardet==4.0.0
ciso8601==2.1.3
click==7.1.2
colorclass==2.2.0
colorlog==4.7.2
croniter==1.0.8
Cython==0.29.22
faust==1.10.4
future==0.18.2
idna==3.1
kafka-python==1.4.7
mode==4.3.2
multidict==5.1.0
mypy-extensions==0.4.3
natsort==7.1.1
opentracing==1.3.0
orjson==3.5.1
pycares==3.1.1
pycparser==2.20
python-dateutil==2.8.1
python-rocksdb==0.7.0
robinhood-aiokafka==1.1.6
setproctitle==1.2.2
six==1.15.0
terminaltables==3.1.0
typing-extensions==3.7.4.3
uvloop==0.15.2
venusian==1.2.0
yarl==1.6.3
